/* BASE AND UTILITY CLASSES */

body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #DDDDDD;
  color: #eee;
  font-weight: 200;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

nav,
.nav-wrapper {
  background-color: transparent;
  box-shadow: none;
}

nav ul a,
nav .brand-logo {
  color: #eee;
}

.left.button-collapse {
  margin-left: 10px;
}

.container {
  font-family: 'Quattrocento Sans', sans-serif;
}

.container.main {
  box-sizing: border-box;
  background-color: #333;
  height: calc(100vh - 46px);
  overflow: hidden;
}

.container.footer {
  border: none;
  position: relative;
}

.padded {
  padding: 0px 25px;
}

.innerScroll {
  overflow: auto;
  height: calc(100% - 56px);
}

/* WATCH AND LOOK GRIDS */

.videoGrid,
.imageRow {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0px 5px;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.imageRow {
  flex-wrap: nowrap;
  width: 1200%;
  height: 100%;
  padding: 0px;
  transition: margin-left 400ms linear;
}

.gridItem {
  position: relative;
  padding: 0px 5px 10px 5px;
  height: auto;
  flex: 1;
  box-sizing: border-box;
  margin: auto;
}

.videoGrid .gridItem {
  flex-basis: 100%;
}

.imageRow .gridItem {
  padding: 0;
}

.gridItem span {
  height: 0;
  padding: 0 0 56.25% 0;
  width: 100%;
  display: block;
  position: relative;
  margin: auto;
}

.imageRow .gridItem span {
  padding: 0 0 66.666% 0;
}

.gridItem iframe,
.gridItem .placeholder {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.videoGrid .gridItem .x {
  font-size: 2rem;
  text-align: center;
  color: #f00;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 5px;
  right: 10px;
  line-height: 2rem;
  cursor: pointer;
}

.playButton {
  position: absolute;
  width: 60px;
  height: 42px;
  left: calc(50% - 30px);
  top: calc(50% - 21px);
  cursor: pointer;
  background-image: url('./img/playdark.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.playButton:hover,
.playButton:active {
  background-image: url('./img/playred.png');
}

/* END WATCH AND LOOK GRIDS */

/* WATCH CONTROLS */

.controls {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  margin-top: 0px;
  background-position: center center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 69;
  transition: left 300ms linear, right 300ms linear;
}

.controls:hover,
.social-container:hover,
.controls:active,
.social-container:active {
  filter: invert(1);
}

.controls.leftArrow {
  left: 0;
  background-image: url('./img/arrow_left.png');
}

.controls.rightArrow {
  right: 0;
  background-image: url('./img/arrow_right.png');
}

/* END WATCH CONTROLS */

/* SOUND PLAYER */

.row .col.soundPlayer iframe {
  max-height: 80px;
  width: 100%;
}

.row .col.soundDescription {
  font-size: 1rem;
  text-align: center;
}

.row .col.read img {
  width: 100%;
}

.row .col.read p {
  text-align: justify;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 601px) {
  #root {
    margin: 10px auto;
  }

  .container.main {
    height:  calc(100vh - 56px);
  }

  .innerScroll {
    height: calc(100% - 64px);
  }

  .row .col.soundDescription {
    font-size: 1.5rem;
    text-align: left;
  }

  .videoGrid .gridItem {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .videoGrid .gridItem {
    flex-basis: 33%;
  }
}
