body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #DDDDDD;
  color: hsl(30, 70%, 90%);
  font-weight: 200;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

nav, .nav-wrapper {
  background-color: transparent;
  box-shadow: none;
}

.left.button-collapse {
  margin-left: 10px;
}

.container {
  font-family: 'Quattrocento Sans', sans-serif;
}

.container.main {
  box-sizing: border-box;
  background-color: #333;
  height: calc(100vh - 46px);
  overflow: hidden;
}

.container.footer {
  border: none;
  position: relative;
}

.padded {
  padding: 0px 25px;
}

.innerScroll {
  overflow: auto;
  height: calc(100% - 56px);
}

/* WATCH CAROUSEL */

.container .row.imageWrapper {
  position: relative;
  margin: 0;
}

.container .row.imageRow{
  display: flex;
  flex-flow: row nowrap;
  width: 1200%;
  height: 100%;
  margin-left: 0%;
  position: relative;
  transition: margin-left 400ms linear;
}

.container .row.imageRow .look {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.container .row.imageRow .look img {
  max-width: 100%;
  height: 100%;
  flex: 0;
  display: block;
  margin: 0 auto;
}

.container .row.imageWrapper .controls {
  height: 100%;
  margin-top: 0px;
}

.container .row .controls {
  position: absolute;
  top: 0;
  width: 80px;
  height: calc( 75% - 60px );
  margin-top: 30px;
  background-position: center center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 69;
  transition: left 300ms linear, right 300ms linear;
}

.container .row .controls:hover, .social-container:hover {
  filter: invert(1);
}

.container .row .controls.leftArrow {
  left: 0;
  background-image: url('./img/arrow_left.png');
}

.container .row .controls.rightArrow {
  right: 0;
  background-image: url('./img/arrow_right.png');
}

/* END WATCH CAROUSEL */

/* GRID STUFF */

.videoGrid {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
}

.videoGrid .gridItem {
  position: relative;
  padding: 0px 5px 10px 5px;
  height: auto;
  flex: 1 0 100%;
  box-sizing: border-box;
}

.videoGrid .gridItem span, .videoGrid .gridItem iframe {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.videoGrid .gridItem .placeholder {
  width: 100%;
  height: 100%;
  display: block;
}

.videoGrid .gridItem .x {
  font-size: 2rem;
  text-align: center;
  color: #f00;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 5px;
  right: 10px;
  line-height: 2rem;
  cursor: pointer;
}

.playButton {
  position: absolute;
  width: 60px;
  height: 42px;
  left: calc(50% - 30px);
  top: calc(50% - 21px);
  cursor: pointer;
  background-image: url('./img/playdark.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.playButton:hover {
  background-image:  url('./img/playred.png');
}

/* SOUND PLAYER */

.row .col.soundPlayer iframe {
  max-height: 80px;
  width: 100%;
}

.row .col.soundDescription {
  font-size: 1rem;
  text-align: center;
}

.row .col.read img {
  width: 100%;
}

.row .col.read p {
  text-align: justify;
}


img {
  filter: saturate(0);
}
/* MEDIA QUERIES */

@media only screen and (min-width: 601px) {
  #root {
    margin: 10px auto;
  }

  .container.main {
    height:  calc(100vh - 56px);
  }

  .innerScroll {
    height: calc(100% - 64px);
  }

  .row .col.soundDescription {
    font-size: 1.5rem;
    text-align: left;
  }

  .videoGrid .gridItem {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 650px) {
  .container .row.imageRow .look img.portrait {
    flex: 1;
    height: 100%;
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  .videoGrid .gridItem {
    flex-basis: 33%;
  }
}
