body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #DDDDDD;
}

#root {
  margin: 10px auto;
}

nav, .nav-wrapper {
  background-color: transparent;
  box-shadow: none;
  color: #CCC;
}

.container.main {
  border: 4px inset #666;
  background-image: url("https://hd.unsplash.com/photo-1470299568568-d4e15c4b6472");
  background-size: cover;
  background-repeat: no-repeat;
}

p.home {
  color: #CCC;
}

.container.footer {
  border: none;
}

.padded {
  padding: 25px;
}
